<mat-toolbar>
  <span>Very useful and important car list</span>
</mat-toolbar>

<div class="main-wrapper">

  <table mat-table *ngIf="cars.length" [dataSource]="cars" class="mat-elevation-z8 cars-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="addedOn">
      <th mat-header-cell *matHeaderCellDef> Added On </th>
      <td mat-cell *matCellDef="let element"> {{element.addedOn | date:'medium'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="add-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="carName" matInput placeholder="Enter car name..." maxlength="30">
    </mat-form-field>
    <button (click)="addCar()" mat-raised-button color="primary" [disabled]="!carName">Add</button>
  </div>

</div>
